html,body {
    margin:0;
    padding:0;
}

body {
    background: #D35D0D;
    background-size: 100% 100%;
    background-attachment:  fixed;
    font-family: Arial,sans-serif;
    font-size:13px;
}

* {position:relative;}

.reset {
    display:block;
    margin:0;
    padding:0;
    list-style: none;
    border: none;
}

/* GENERAL */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.animate-fast {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.animate-med {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.animate-slow {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.clr:after {
    content:"";
    display:block;
    zoom:1;
    clear:both;
}

.boxsizing {
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.blur {
   -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.blur-2 {
   -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.blur-3 {
   -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.blur-5 {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.margin30 {
    margin-top:30px !important;
}

/* THEME */


.wrap {
    margin: 8px auto 30px auto;
    width: 96%;
    background: rgb(235,235,235);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.75);
}

.header {
    background: #343434;
    }
    .header img {display:block;margin:20px 0 0 15px; height:60px; }
    
    .header .header-name {
        display: block; position:absolute; width: 50%; left:50%; margin-left: -25%; top: 15px; 
        }
        .header .header-name h3 {  color: #000000; display: block; text-align: center; margin: 0; padding: 0; text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), 0px 1px 22px rgb(211, 211, 211), 1px 0px 3px rgb(55, 55, 55),1px 0px 22px rgb(255, 255, 255); font-size: 18px; }
        .header .header-name h3 span{ display:block; color: #9D9D9D; text-shadow: none; font-size: 10px;}

#body {
    padding:15px;
}
#body h1 { font-size:22px; color:#94A3A6; font-weight: 400;padding: 5px 0; margin: 0 0 8px 0; border-bottom: solid 1px #CACACA;}
#body h1:after {content:"";display:block;position:absolute;bottom:-2px;left:0px;right:0px;height: 1px; background: #fff;}

.quick-user {
    position:absolute;
    top: 7px;
    right:5px;
    height: 45px;
    width: 200px;
   
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
    }
    .quick-user:hover {
        background: #222222;
    }
    .quick-user img.avatar {
        width: 38px;
        height:38px;
        border: solid 1px #000;
        border-radius: 19px;
        -moz-border-radius: 19px;
        -webkit-border-radius: 19px;
        display:block;
        position:absolute;
        top:3px;
        left:3px;
        margin:0;
    }
    .quick-user h5 { display:block; position:absolute; top:5px; right: 5px; left: 43px; color:#fff; font-size: 11px; font-weight: 600; text-align: center;margin:0;padding:0;}
    .quick-user h5 span {color:#F3D69C; font-weight: 400;display:block;}
    .quick-user .drop-hold {
        display:block;
        position:absolute;
        top:65px;
        opacity:0;
        visibility: hidden;
        left: 0px;
        right:0px;
        height: 250px;
        padding:10px;
        background: rgb(235,235,235);
        border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        z-index:100;
        border: solid 1px rgb(200,200,200);
        -webkit-box-shadow: 0px 20px 34px 1px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 20px 34px 1px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 20px 34px 1px rgba(50, 50, 50, 0.75);
        }
        .quick-user:hover .drop-hold {
            opacity: 1;
            visibility: visible;
            top:45px;
        }
        .quick-user .drop-hold a.link-br {
            display:block;
            border:none;
            border-bottom: solid 1px rgb(200,200,200);
            font-size:12px;
            color:#7d7e7d;
            text-decoration: none;
            padding: 4px 0 4px 0;
            font-weight: 400;
            text-shadow: 1px 1px 0 #fff;
            }
            .quick-user .drop-hold a.link-br:after {content:"";display:block;position:absolute;bottom:-2px;left:0px;right:0px;height:1px;background: #fff;}
            .quick-user .drop-hold a.link-br:hover {color:#111;}
        .quick-user .drop-hold .space {display:block;height:20px;}
        
        
        
/* FOOTER STATUS */
.footer-status {
    position: fixed;
    background: #3A3A3A;
    color:#000;
    height: 40px;
    padding: 0;
    bottom:0; left: 0; right: 0;
    z-index:502;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}
.footer-status .item {
    display:block;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    float:left;
    z-index:502;
    background: #3A3A3A;
    }
    .footer-status .item.active,.footer-status .item:hover {text-shadow: none;}
    .footer-status .item:after {
        content: "";
        display: block;
        position: absolute;
        right: 2px;
        top: 8px;
        bottom: 8px;
        width: 1px;
    }
    .footer-status .item.ra {
        float: right !important;
    }
    .footer-status .item span {
        display:block;
        height: 40px;
        vertical-align: middle;
        cursor: pointer;
        color:#868686;
        z-index: 502;
        }
        .footer-status .item.active span { color:#99ff00;}
        .footer-status .item span:hover{color:#fff;}
        .footer-status .item.active span:hover { color:#99ff00;}
        .footer-status .item.warning span i {color:#FCD300;}
    .footer-status .item .item-holder {
        display:block;
        visibility: hidden;
        opacity: 0;
        position:fixed;
        top: auto;
        bottom:40px;
        right: -300px;
        width: 270px;
        min-height: 50px;
        height: auto;
        background: #F2F2F2;
        border: solid 1px #8296A1;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        z-index: 501;
        line-height: initial; 
        }
        .footer-status .item.active .item-holder{ display:block;right:0; visibility: visible; opacity: 1; bottom:40px;}
        .footer-status .item .item-holder .message-header {padding: 5px 8px;
            font-weight: 600;
            background: #8296A1;
            font-size: 11px;
            color: #3C5867;
            text-shadow: 1px 1px 0px #B8B8B8;
        }
        .footer-status .item .item-holder li{
            display:none;
            padding:5px;
            padding-right: 15px;
            font-size:12px;
            font-weight: 400;
            color:#446778;
            margin-bottom: 6px;
            }
            .footer-status .item .item-holder li h5 {margin:0; padding:5px 0 5px 0; font-size: 12px;}
            .footer-status .item .item-holder li:nth-child(1){
                display:block;
            }
            .footer-status .item .item-holder li .icon-check{display:block;position:absolute;top:13px;right:5px; cursor:pointer;}
            .footer-status .item .item-holder li .icon-check:hover{ color:#1F3D4D;}
            .footer-status .item .item-holder li .icon-pencil{display:block;position:absolute;top:33px;right:5px; cursor:pointer;}
            .footer-status .item .item-holder li .icon-pencil:hover{ color:#1F3D4D;}
            .footer-status .item .item-holder li .message-sender { font-weight: 400; color:#CA5107; display:inline-block;height: 16px;margin:0;padding:0 5px 0 0px;}
            .footer-status .item .item-holder li .timeago {
                font-size: 11px; font-weight: 400; color:#868686; display:block; top:-5px; text-shadow: 1px 1px 0 rgb(255,255,255);
            }
            .message-header span {display:inline-block !important; height:auto !important;padding: 0 4px 0 4px !important; color:#fff !important; text-shadow: none !important; top:-1px;}
            
.mask {
    background: rgba(0,0,0,0.5);
    position:fixed;
    z-index: 500;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display:none;
}
.onscreen {
    position:fixed;
    visibility: hidden;
    opacity: 0;
    top:50%;
    left:50%;
    width: 340px;
    height: 400px;
    padding: 8px 15px;
    background: rgba(255,255,255, 1);
    margin-left: -150px;
    margin-top: -200px;
    z-index:999;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #3A3A3A;
    }
    
    
    .onscreen ul {margin:0;padding:0;}
    .onscreen ul li {margin:0;padding:0;list-style: none; float: left;}
    .onscreen ul li  a {display:block; border: none; text-decoration: none; color:#BABABA; width: 100px; text-align: center; line-height: 100%; text-shadow: none; font-size: 12px;}
    .onscreen ul li  a i {display:block; font-size: 20px;margin-bottom: 5px;}
    .onscreen ul li  a:hover, .onscreen ul li.active a { color:#39B1EF;}
    .onscreen ul li  a:visited {}
    .onscreen ul li  a {border-bottom: solid 1px #39B1EF; padding-bottom: 14px;}
    .onscreen ul li.active a {border-bottom: solid 5px #39B1EF; padding-bottom: 10px;}
    .onscreen ul li ul { display:block; position:absolute; top:70px; width: 300px; left: 5px; bottom: 5px;}
    .onscreen ul li ul li { display:none; width:100%; float:none; margin-bottom: 0px; padding-bottom: 0; }
    .onscreen ul li.active ul li {display:block; }
    .onscreen ul li ul li label {display:block; color:#ccc;line-height: 105%;margin:0;padding:0; padding-bottom: 4px; height:12px; font-size: 11px; }
    .onscreen ul li ul li label span { display:inline !important; left:5px; cursor: default !important; font-size:15px;}
    .onscreen ul li ul li input {background: #464646; border: solid 1px #2d2d2d; padding: 6px; color:#ccc; width:100%; font-size:12px; }
    .onscreen ul li ul li textarea {background: #464646; border: solid 1px #2d2d2d; padding: 4px; height: 120px; color:#ccc; width:100%; resize: none; font-size: 12px; }
    .onscreen ul li ul li input:focus, .onscreen ul li ul li textarea:focus { outline: none; border: solid 1px #39B1EF;}
    
.footer-status .item.active .onscreen { visibility: visible; opacity:1;}
.footer-status .item.active .mask {display:block;}

input.button {display:block; padding: 8px 0  !important;text-align: center;border: none !important; font-size:13px  !important;;  border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; width:100px !important; margin:auto;}
input.button.blue {color:#fff; background: #39B1EF; cursor: pointer;}
input.button.blue:hover {color:#000; background: #7CEF39; }
input.button.blue:active {color:#000; background: #fff; }

input.error, textarea.error {border-color: red !important; }

#server_info {
    display:block;
    position:relative;
    width: auto;
    height: 40px;
    float:left;
    color:#818181;
    text-transform: uppercase;
    font-size:10px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    }
    
.icon-globe.green { color:#99ff00;}
.icon-globe.red { color:#ff0033;}
#server_info i {font-size:12px;}



.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    
    
}






/* ANIMATION */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}