html,body {
    margin:0;
    padding:0;
}

body {
    background: #D35D0D;
    background-size: 100% 100%;
    background-attachment:  fixed;
    font-family: Arial,sans-serif;
    font-size:13px;
}

* {position:relative;}

::-webkit-scrollbar {
    width: 8px;
    background: #ffffff;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1OCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, #ffffff 40%, #000000 42%, #000000 58%, #ffffff 60%);
background: -webkit-gradient(linear, left top, right top, color-stop(40%,#ffffff), color-stop(42%,#000000), color-stop(58%,#000000), color-stop(60%,#ffffff));
background: -webkit-linear-gradient(left, #ffffff 40%,#000000 42%,#000000 58%,#ffffff 60%);
background: -o-linear-gradient(left, #ffffff 40%,#000000 42%,#000000 58%,#ffffff 60%);
background: -ms-linear-gradient(left, #ffffff 40%,#000000 42%,#000000 58%,#ffffff 60%);
background: linear-gradient(to right, #ffffff 40%,#000000 42%,#000000 58%,#ffffff 60%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #000; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(80,80,80,0.4); 
}

.load-on-screen {opacity:0;}

.mobile-menu {display:none;}
.main-mobile-menu {display:none;}
.main-mobile-menu {
    position:absolute;
    left: 50%;
    top:-41px;
    margin-left: -40px;
    z-index:500;
    width:auto;
    height:auto;
    font-size: 36px;
    color: #D35D0D;
    text-shadow: 1px 1px 0 rgb(255,255,255);
    width:80px;
    height:80px;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background: #ccc;
    overflow: hidden;
    text-align: center;
    border: solid 1px #E0E0E0;
    background: rgb(229,229,229);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
    }
    .main-mobile-menu i {
        display:block;
        position:relative;
        width: 36px;
        top:41px;
        line-height: 36px;
        overflow: hidden;
        margin:auto;
    }

.reset {
    display:block;
    margin:0;
    padding:0;
    list-style: none;
    border: none;
}

/* GENERAL */
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.animate {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.animate-fast {
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.animate-med {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.animate-slow {
    -webkit-transition: all .8s ease-in-out;
    -moz-transition: all .8s ease-in-out;
    -o-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
}

.blink {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: ease-in-out;
    
    -moz-animation-direction: normal;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: blink;
    -moz-animation-timing-function: ease-in-out;    
}

.clr:after {
    content:"";
    display:block;
    zoom:1;
    clear:both;
}

.boxsizing {
        box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.boxshadow {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
/*
.blur {
   -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.blur-2 {
   -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.blur-3 {
   -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.blur-5 {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}*/

.execute-time {
    display:block;
    width: 90%;
    margin:auto;
    padding: 5px 0;
    font-size: 11px;
    text-align: right;
}

.margin30 {
    margin-top:30px !important;
}

/* Error code */
.exception-title {
    font-size:15px;
    font-weight: 400;
    color:#DF2828;
    margin-bottom: 5px;
    padding-bottom: 0;
}

.error-title {
    font-weight: 400;
    font-size: 18px;
    margin:0;
    margin-bottom: 5px;
}

.error-code {
    display:block;
    font-size:13px;
    font-weight: 400;
    color:#464646;
}

.error-code em {display:block;font-size:11px; color:#000;}

.error-class {display:block;padding: 5px 0 0 0;}
.error-class label {display:inline-block; color:#818181; width:80px;}
.error-debug {
    margin: 10px 0;
    color:#000;
    font-size:12px;
}
.error-debug ul {padding:0;margin:0;}
.error-debug ul li {display:block;margin:0;padding:0; list-style: none;margin-bottom: 5px;}
.error-debug ul li label{display:inline-block; width:80px; color:#818181;}

/* error code end */



/* THEME */


.wrap {
    margin: 8px auto 30px auto;
    width: 90%;
    background: rgb(235,235,235);
    -webkit-box-shadow: 0px 4px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 4px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 4px 10px 0px rgba(50, 50, 50, 0.75);
}

.header {
    background: #343434;
    z-index:501;
    }
    .header img {display:block;margin:20px 0 0 15px; height:60px; }
    
    .header .header-name {
        display: block; position:absolute; width: 50%; left:50%; margin-left: -25%; top: 15px; 
        }
        .header .header-name h3 {  color: #000000; display: block; text-align: center; margin: 0; padding: 0; text-shadow: -1px -1px 0px rgba(255, 255, 255, 1), 0px 1px 22px rgb(211, 211, 211), 1px 0px 3px rgb(55, 55, 55),1px 0px 22px rgb(255, 255, 255); font-size: 18px; }
        .header .header-name h3 span{ display:block; color: #9D9D9D; text-shadow: none; font-size: 10px;}

#body {
    padding:15px;
    min-height: 400px;
}
#body h1 { font-size:22px; color:#94A3A6; font-weight: 400;padding: 5px 0; margin: 0 0 8px 0; border-bottom: solid 1px #CACACA;}
#body h1:after {content:"";display:block;position:absolute;bottom:-2px;left:0px;right:0px;height: 1px; background: #fff;}

.quick-user {
    position:absolute;
    top: 7px;
    right:5px;
    height: 45px;
    width: 200px;
   
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor:pointer;
    }
    .quick-user:hover {
        background: #222222;
    }
    .quick-user img.avatar {
        width: 38px;
        height:38px;
        border: solid 1px #000;
        border-radius: 19px;
        -moz-border-radius: 19px;
        -webkit-border-radius: 19px;
        display:block;
        position:absolute;
        top:3px;
        left:3px;
        margin:0;
    }
    .quick-user h5 { display:block; position:absolute; top:5px; right: 5px; left: 43px; color:#fff; font-size: 11px; font-weight: 600; text-align: center;margin:0;padding:0;}
    .quick-user h5 span {color:#F3D69C; font-weight: 400;display:block;}
    .quick-user .drop-hold {
        display:block;
        position:absolute;
        top:65px;
        opacity:0;
        visibility: hidden;
        left: 0px;
        right:0px;
        height: 250px;
        padding:10px;
        background: rgb(235,235,235);
        border-radius: 0 0 3px 3px;
        -moz-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        z-index:100;
        border: solid 1px rgb(200,200,200);
        -webkit-box-shadow: 0px 20px 34px 1px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 20px 34px 1px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 20px 34px 1px rgba(50, 50, 50, 0.75);
        }
        .quick-user:hover .drop-hold {
            opacity: 1;
            visibility: visible;
            top:45px;
        }
        .quick-user .drop-hold a.link-br {
            display:block;
            border:none;
            border-bottom: solid 1px rgb(200,200,200);
            font-size:12px;
            color:#7d7e7d;
            text-decoration: none;
            padding: 4px 0 4px 0;
            font-weight: 400;
            text-shadow: 1px 1px 0 #fff;
            }
            .quick-user .drop-hold a.link-br:after {content:"";display:block;position:absolute;bottom:-2px;left:0px;right:0px;height:1px;background: #fff;}
            .quick-user .drop-hold a.link-br:hover {color:#111;}
        .quick-user .drop-hold .space {display:block;height:20px;}
        
        
        
/* FOOTER STATUS */
.footer-status {
    position: fixed;
    background: #3A3A3A;
    color:#000;
    height: 40px;
    padding: 0;
    bottom:0; left: 0; right: 0;
    z-index:502;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}
.footer-status .item {
    display:block;
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    float:left;
    z-index:502;
    background: #3A3A3A;
    }
    .footer-status .item.active,.footer-status .item:hover {text-shadow: none;}
    .footer-status .item:after {
        content: "";
        display: block;
        position: absolute;
        right: 2px;
        top: 8px;
        bottom: 8px;
        width: 1px;
    }
    .footer-status .item.ra {
        float: right !important;
    }
    .footer-status .item span {
        display:block;
        height: 40px;
        vertical-align: middle;
        cursor: pointer;
        color:#868686;
        z-index: 502;
        }
        .footer-status .item.active span { color:#99ff00;}
        .footer-status .item span:hover{color:#fff;}
        .footer-status .item.active span:hover { color:#99ff00;}
        .footer-status .item.warning span i {color:#FCD300;}
    .footer-status .item .item-holder {
        display:block;
        visibility: hidden;
        opacity: 0;
        position:fixed;
        top: auto;
        bottom:40px;
        right: -300px;
        width: 270px;
        min-height: 50px;
        height: auto;
        background: #F2F2F2;
        border: solid 1px #8296A1;
        -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.75);
        border-radius: 4px 4px 0 0;
        -moz-border-radius: 4px 4px 0 0;
        -webkit-border-radius: 4px 4px 0 0;
        z-index: 1000;
        line-height: initial; 
        }
        .footer-status .item.active .item-holder{ display:block;right:0; visibility: visible; opacity: 1; bottom:40px;}
        .footer-status .item .item-holder .message-header {padding: 5px 8px;
            font-weight: 600;
            background: #8296A1;
            font-size: 11px;
            color: #3C5867;
            text-shadow: 1px 1px 0px #B8B8B8;
        }
        .footer-status .item .item-holder li{
            display:none;
            padding:5px;
            padding-right: 15px;
            font-size:12px;
            font-weight: 400;
            color:#446778;
            margin-bottom: 6px;
            }
            .footer-status .item .item-holder li h5 {margin:0; padding:5px 0 5px 0; font-size: 12px;}
            .footer-status .item .item-holder li:nth-child(1){
                display:block;
            }
            .footer-status .item .item-holder li .icon-check{display:block;position:absolute;top:13px;right:5px; cursor:pointer;}
            .footer-status .item .item-holder li .icon-check:hover{ color:#1F3D4D;}
            .footer-status .item .item-holder li .icon-pencil{display:block;position:absolute;top:33px;right:5px; cursor:pointer;}
            .footer-status .item .item-holder li .icon-pencil:hover{ color:#1F3D4D;}
            .footer-status .item .item-holder li .message-sender { font-weight: 400; color:#CA5107; display:inline-block;height: 16px;margin:0;padding:0 5px 0 0px;}
            .footer-status .item .item-holder li .timeago {
                font-size: 11px; font-weight: 400; color:#868686; display:block; top:-5px; text-shadow: 1px 1px 0 rgb(255,255,255); border:none;
            }
            .message-header span {display:inline-block !important; height:auto !important;padding: 0 4px 0 4px !important; color:#fff !important; text-shadow: none !important; top:-1px;}
            
.mask {
    background: rgba(0,0,0,0.5);
    position:fixed;
    z-index: 500;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    display:none;
}
     
.footer-status .item.active .onscreen { visibility: visible; opacity:1;}
.footer-status .item.active .mask {display:block;}

input.button {display:block; padding: 8px 0  !important;text-align: center;border: none !important; font-size:13px  !important;;  border-radius:2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; width:100px !important; margin:auto;}
input.button.blue {color:#fff; background: #39B1EF; cursor: pointer;}
input.button.blue:hover {color:#000; background: #7CEF39; }
input.button.blue:active {color:#000; background: #fff; }

input.error, textarea.error {border-color: red !important; }

#server_info {
    display:block;
    position:relative;
    width: auto;
    height: 40px;
    float:left;
    color:#818181;
    text-transform: uppercase;
    font-size:10px;
    line-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
    }
    
.icon-globe.green { color:#99ff00;}
.icon-globe.red { color:#ff0033;}
#server_info i {font-size:12px;}


/* page navigation */
.page-main-navigation {
    display:block;
    position:fixed;
    left: -300px;
    top: 120px;
    z-index: 300;
    }
    .page-main-navigation:hover {
        left: 0;
    }
    .page-main-navigation li {
        display:block;
        background: #111;
        color:#ccc;
        width: 340px;
        height: 50px;
        overflow: hidden;
        margin-bottom: 1px;
        font-size:18px;
        }
        .page-main-navigation li:hover {
            background: #294FC7;
        }
        .page-main-navigation ul li a { 
            display:block;
            position:relative;
            text-decoration: none; 
            color: #ccc; 
            padding:16px; 
            height: 18px;
        }
        .page-main-navigation ul li a i {display:block; width: 18px; height: 18px; position:absolute; top:50%; margin-top: -9px; right: 10px; }
        .page-main-navigation ul li a b {font-weight: 400; }


.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    
    
}

.round-center {
    display:block;
    margin:auto;
    width: 150px;
    height: 12px;
    padding:7px;
    text-align: center;
    font-size:12px;
    color: #333;
    text-decoration: none;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    background: rgb(220,220,220);
    border: solid 1px rgb(210,210,210);
}
.round-center:visited{}

.round-center:hover{
    background: #D35D0D;
    color:#fff;
    border: solid 1px #D1540A;
}


/* alert message */

.alert-box {
    position:fixed;
    left:0px;
    right:0px;
    height: auto;
    font-size:14px;
    font-weight: 600;
    color:#B2430E;
    text-align: center;
    bottom: -400px;
    padding: 20px 45px;
    z-index: 9999;
    background: #FF884E;
    
    text-shadow: 1px 1px 0 rgb(249, 179, 145);
}

.alert-box.active {
    bottom:0px;
}

.alert-box .icon-remove {
    display:block;
    position:absolute;
    width: 20px;
    height:20px;
    font-size:15px;
    right:10px;
    top:50%;
    margin-top:-7px;
    font-weight: 400;
    cursor:pointer;
}

.alert-box .icon-remove:hover { color:#000;}

.form-holder .form-mask {
    display:none;
    position: fixed;
    top:0px;
    left: 0px;
    right:0px;
    bottom:0px;
    z-index: 20;
    background: rgba(255,255,255,0.6);
    }
    .form-holder.active .form-mask {display:block;}
    
    
    .onscreen .select2-container--default .select2-selection--single {
        background: #333;
        color:#ccc ;
        border: solid 1px #000;
    }
    .onscreen .select2-container--default .select2-selection--single .select2-selection__rendered {color:#39B1EF;}
    
    
    .highlight {
        background: #FCD300 !important;
        box-shadow: 0px 0px 25px 7px rgb(245, 207, 137) !important;
        -moz-box-shadow: 0px 0px 25px 7px rgb(245, 207, 137) !important;
        -webkit-box-shadow: 0px 0px 25px 7px rgb(245, 207, 137) !important;
    }
    
    
    /* Cart view */
    
    .magtop {
        margin-top:20px;
    }
    
    .carts {
        display:flex;
        -webkit-column-count: 5;
        -webkit-column-gap: 10px;
        -webkit-column-fill: auto;
        -moz-column-count: 5;
        -moz-column-gap: 10px;
        column-count: 5;
        column-gap: 15px;
        column-fill: auto;
        -moz-column-fill: balance;
    }
    
    .carts h2 {
        font-size: 16px;
        font-weight: 400;
        display:block;
        padding: 19px 0 19px 50px;
        margin-bottom: 20px;
        border-bottom: dotted 1px rgb(215,215,215);
        color: #989898;
        text-shadow: 1px 1px 0 rgb(255,255,255);
        }
        .carts h2 img {
            display:block;
            position:absolute;
            width:32px;
            top:50%;
            left:5px;
            margin-top: -16px;
        }
    
    .usercell {
        width: 25%;
        padding:10px;

        -webkit-column-break-inside: avoid;
        -moz-column-break-inside: avoid;
        column-break-inside: avoid;
        
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    
    .cart_view {
        display:block;
        border: solid 1px rgb(255,255,255);
        outline: solid 1px rgb(215,215,215);
        min-height: 60px;
        background: rgb(240,240,240);
        margin: 5px 5px 15px 5px;
        //min-width: 280px;
        
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
        
        
    }
    
    .cart_view .cart_view_head {
        
        }
        .cart_view .cart_view_head h3 {
            margin:0;
            padding: 4px 4px 0 4px;
            font-size: 14px;
            color:#3A3A3A;
        }
        .cart_view .cart_view_head a.mail, .cart_view .cart_view_head a.mail:link {
            font-size: 12px;
            font-weight: 400;
            text-decoration: none;
            border: none;
            padding: 0 0 5px 5px;
            color:#7d7e7d;
            }
            .cart_view .cart_view_head a.mail:hover {color:#D35D0D;}
            .cart_view .cart_view_head .groupicon {
                width:16px;
                display:block;
                margin: 4px 0 0 4px;
            }
            
        .cart_view .cartview-avatar {

            }
            .cart_view .cartview-avatar img {width:100%;}
  

.removable-mask {
    position:fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index:99;
    background: rgba(255,255,255,0.7);
}

.upload-box {
    position: absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    vertical-align: middle;
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    }
    .upload-box .uploadclick {
        text-align: center;
        font-size: 26px;
        color: #39B1EF;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
         transform: translate(0%, 24%);    
        -webkit-transform: translate(0%, 24%);
        -moz-transform: translate(0%, 24%);
        -ms-transform: translate(0%, 24%);
        }
        .upload-box .uploadclick i {display:block; font-size: 40px;}
        .upload-box .uploadclick small {font-size:15px;}
        .upload-box .uploadclick input[type=file]{
                display: block;
                position: absolute;
                z-index: 2;
                top: -23%;
                left: 0;
                right: -25px;
                bottom: 23%;
                opacity: 0;
                width: 100%;
        }
        .upload-box .message {
            margin-top:30px;
        }



    .throbber {display:block;position:relative;}
    .throbber canvas {margin:auto;}
    
    
/* INLINE EDIT */
.inline-mask {
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background: rgba(255,255,255,0.7);
    z-index:5;
    }
    .inline-mask.active {display:block;}
.inline-edit {
    display:none;
    position:relative;
    margin:5px;
    padding:10px;
    background: #FFD2BB;
    border: solid 1px rgb(253, 185, 149);
    z-index: 6;
    }
    .inline-edit.active {display:block;}
    .inline-edit .inline-edit-item {
        display:none;
        }
        .inline-edit .inline-edit-item.active {
            display: block;
        }
        .inline-edit .inline-edit-item label {
            display:block;
            position:relative;
        }
        .inline-edit .inline-edit-item input {
            padding: 8px;
            background: #fff;
            border: solid 1px rgb(253, 185, 149);
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            width:100%;
            outline: none;
        }
        .inline-edit .inline-edit-item .inline-btt {
            margin-top:10px;
            }
            .inline-edit .inline-edit-item .inline-btt input[type=submit] {
                display:inline-block;
                width:auto;
                background: #339900;
                color:#fff;
                padding:6px 15px;
                cursor: pointer;
                border:none;
                }
                .inline-edit .inline-edit-item .inline-btt input[type=submit]:hover {background: #cc0000;}
            .inline-edit .inline-edit-item .inline-btt .inline-cancel {
                font-size:12px; color:#111;
                cursor: pointer;
                margin-left: 25px;
                }
                .inline-edit .inline-edit-item .inline-btt .inline-cancel:hover {color: #cc0000;}
        .inline-edit .inline-edit-item .select-box {
            width:96%;
        }



    
.sortable {padding-bottom: 70px;}


/* EXTEND WINDOW */
.extended-window {
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    height:75%;
    background: rgb(250,250,250);
    
    z-index:9999;
    padding: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    }
    .extended-window h2 {color:#3AA6F4;font-weight: 400; margin: 0 0 5px 0; font-size:20px; border-bottom: solid 1px #CBCBCB;}
    .extended-window span{ color:#6C6C6C; font-size: 17px; margin-left: 15px; display:inline-block; top:-2px; }
    .extended-window em{ display:block; position:absolute;top:0px; right:0px; font-size:13px; color:#333; font-style: normal; }
    .extended-window em label {display: inline-block; padding-right: 15px;}
    .extended-window .inline-btt {
        position:absolute;
        bottom:0px;
        left:0px;
        right:0px;
        top:auto;
        padding: 15px;
    }
    .extended-window .inline-btt input[type=submit] {
        display:inline-block;
        width:auto;
        background: #339900;
        color:#fff;
        padding:6px 15px;
        cursor: pointer;
        border:none;
        }
        .extended-window .inline-btt input[type=submit]:hover {background: #cc0000;}
        .extended-window .inline-btt .inline-cancel {
        font-size:12px; color:#111;
        cursor: pointer;
        position:absolute;
        right:15px;
        top: 20px;
        }
        .extended-window .inline-btt .inline-cancel:hover {color: #cc0000;}
    .extended-window .user-form-base-info {
        display:block; position:relative;
        margin-left: 140px;
    }
    .extended-window .form-item {margin: 10px 0 0 0;}
    .extended-window .form-item label {display:inline-block; width:120px; color:#497B14;}
    .extended-window .form-item input {padding: 3px; width: 220px;border:solid 1px rgb(210, 210, 210);color: #333;}
    .extended-window .form-item input {
        background: rgb(255,255,255);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmN2Y3ZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
    }
    .extended-window.userform .cartview-avatar {width:120px;height:120px;float:left;}
    .extended-window fieldset {
        border:1px outset rgb(230,230,230);
        -moz-border-radius:4px;
        -webkit-border-radius:4px;	
        border-radius:4px;	
        margin-top:13px;
        background: rgb(244,244,244);
    }
    .extended-window fieldset legend {color:#464646;padding: 3px 7px;
        color: #7D4F2D;
        padding: 3px 7px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: rgb(244,244,244);
        padding: 5px 20px;
        font-size: 14px;
        text-shadow: 1px 1px 0 rgb(255,255,255);
        box-shadow: 0px -3px 6px -1px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px -3px 6px -1px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px -3px 6px -1px rgba(0,0,0,0.5);
    }
    .extended-window .scrollholder {
        display:block;
        position:absolute;
        top:45px;
        left: 10px;
        right:10px;
        bottom:60px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .extended-window .select-box .select-box-display {
        color:#A8A8A8;
        width: 80%;
        border: solid 1px #BDBDBD;
        background: rgb(255,255,255);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
        }
        .extended-window .select-box .select-box-display:hover {
            background: rgb(229,229,229);
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top, rgba(229,229,229,1) 0%, rgba(255,255,255,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,229,1)), color-stop(100%,rgba(255,255,255,1)));
            background: -webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
            background: linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(255,255,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 );
        }
        .extended-window .select-box .select-box-display span {font-size:13px;line-height: 218%;}




/* Page search */
.page-search-holder {
	position:absolute;
	top:-6px;
	right:8px;
	}
	.page-search-holder input.page-search {
		border: solid 1px rgb(192, 192, 192);
		height: 35px;
		width: 350px;
		padding:10px;
		padding-right: 32px;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		background: rgb(250, 250, 250);
		outline:none;
	}
	.page-search-holder a {
		display:block;
		position:absolute;
		width: 50px;
		height:33px;
		top:0px;
		right:0px;
		text-decoration: none;
		color:#333;
		background: rgb(255, 88, 88);
		font-size:15px;
		text-align: center;
		border-radius: 0 2px 0 0;
		-moz-border-radius: 0 2px 0 0;
		-webkit-border-radius: 0 2px 0 0;
                border: solid 1px rgb(255, 88, 88);
		}
                .page-search-holder a:hover {
                    background: #1C94A3;
                    border: solid 1px #1C94A3;
                }
		.page-search-holder a i {
			top:7px;
		}


.not-found {
    
    }
    .not-found h3 {
        display:block;
        position:relative;
        font-weight: 400;
        padding: 10px;
        font-size: 13px;
        color: #8b1f1f;
        background:  #fbc1c1;
        border:solid 1px #eba5a5;
    }


/* ONSCREEN */
.onscreen {
    display:none;
    width: 450px;
    height: 500px;
    position:fixed;
    left:50%;
    top:50%;
    z-index:9999;
    transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    background: #2B3A44;

    }
    .onscreen.active { display:block; }
    .onscreen .onsc-tab-holder {
        display:table;
        width: 100%;
        height:40px;
        overflow: hidden;
    }
    .onscreen .onsc-tab-holder span {
        display: table-cell;
        border-bottom: solid 4px transparent;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: rgb(230,230,230);
        min-width: 80px;
        cursor: pointer;
        }
        .onscreen .onsc-tab-holder span.active { border-bottom: solid 4px #39B1EF; color:#39B1EF; }
        
    .onscreen .onsc-tab-view-holder {
        position:absolute;
        top: 60px;
        left:20px;
        right:20px;
        bottom:25px;
        overflow: hidden;
        color:#FFF;
        }
        .onscreen .onsc-tab-view-holder .onsc-tab-data {
            display:none;
            width:100%;
            }
            .onscreen .onsc-tab-view-holder .onsc-tab-data.active {
                display:block;
            }
            .onscreen .onsc-tab-view-holder  label {display:block;margin-bottom: 4px;   font-size: 12px;}
            .onscreen .onsc-tab-view-holder  input { box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;width:100%;border: solid 1px #fff;padding:5px;margin-bottom: 5px;color: #333;outline: none; background: #E8E8E8;}
                .onscreen .onsc-tab-view-holder  input:active, .onscreen .onsc-tab-view-holder  input:focus {
                    
                }










@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
  
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}




@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}








