
.navigation-main-hold {
    height: 30px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border-bottom: solid 1px rgb(207, 207, 207);
    }
    .navigation-main-hold ul {display:block;margin:0;padding:0;}
    .navigation-main-hold ul:after {content:""; zoom: 1; clear: both;}
    .navigation-main-hold ul li {display:block;width:auto;float:left;margin:0;padding:0;list-style: none;}
    .navigation-main-hold ul li a, .navigation-main-hold ul li a:link {font-size: 12px; color:rgb(80,80,80); text-decoration: none; height: 12px; padding: 7px 15px 11px 15px;display:block; border: none;
    height:30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 25px;
    }
    .navigation-main-hold ul li {}
    .navigation-main-hold ul li:first-child {border-left: solid 1px transparent;}
    .navigation-main-hold ul li a:visited {}
    .navigation-main-hold ul li a:hover {
        background: #eeeeee; /* Old browsers */
        background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
        background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); 
        background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); 
        background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); 
        background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
        color:#333;
    }
    .navigation-main-hold ul li a i {display:inline-block; font-size: 16px; position:absolute;top:5px;left:5px;}